:root {
	--main-color: #5cdeb7;
	--secondary-color: #faf088;
}


#preloader {

    position:fixed;
    left:0;
    top:0;
    z-index:99999999999;
    width:100%;
    height:100%;
    overflow:visible;
    background: #fff url('../img/preloader.gif') no-repeat center center;
}


.qq{
	font-size: 23px;
	color:var(--secondary-color) ;
	font-weight: 600;
}
.container-fluid{
padding: 0;}


a {
	color: var(--main-color);
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
	transition:all 0.5s;

	outline:none!important;
}
a:hover,a:focus,a:active {
	color:#0D0D0D;
	text-decoration:none;
	outline:none!important;
}
p {
	color:#8c9398;
	word-spacing:1px;
	line-height:25px;
	font-size:14px;
}
h2 {
	font-size:15px;
	color:#353535!important;
	text-transform:uppercase;
	font-weight:bold;
}
h2::after {
	content:" ";
	border:solid 1px #CCCCCC;
	display:block;
	width:65px;
	margin:20px auto;
}
h6 {
	font-size:15px;
	color:#8c8c8c;
	text-transform:uppercase;
	font-weight:bold;
}
h6::after {
	content:" ";
	border:solid 1px #CCCCCC;
	display:block;
	width:65px;
	margin-top: 20px;
}

article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary {
	display:block;
}
audio,canvas,video {
	display:inline-block;
	*display:inline;
	*zoom: 1;
}

[hidden] {
	display: none;
}

html {
	font-size:100%;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
}
html,html a {
	-webkit-font-smoothing:antialiased;

}
html,button,input,select,textarea {
	font-family:poppins,sans-serif;
}
body {
	margin:0;
	font-family:raleway,sans-serif;
}

a:focus {
	outline:thin dotted;
}
a:active,a:hover {
	outline: 0;
}

h1 {
	font-size:2em;
	margin:1.67em 0;
	color:#353535;
}
h2 {
	font-size:1.5em;
	margin:0.83em 0;
}
h3 {
	font-size:1.17em;
	margin:1em 0;
}
h4 {
	font-size:1em;
	margin:1.33em 0;
}
h5 {
	font-size:0.83em;
	margin:1.67em 0;
}
h6 {
	font-size: 18px;
	margin:25px 0;
}
abbr[title] {
	border-bottom:1px dotted;
}
b,strong {
	font-weight:bold;
}
blockquote {
	margin:0 55px;
	border-left:4px solid #CCCCCC;
}
dfn {
	font-style:italic;
}
mark {
	background:var(--secondary-color);
	color:#000;
}
p,pre {
	margin:1em 0;
}
code,kbd,pre,samp {
	font-family:monospace,serif;
	_font-family:'courier new',monospace;
	font-size:1em;
}
pre {

	white-space:pre-wrap;
	word-wrap:break-word;
}
q {
	quotes:none;
}
q:before,q:after {
	content:'';
	content:none;
}
small {
	font-size:75%;
}
sub,sup {
	font-size:75%;
	line-height:0;
	position:relative;
	vertical-align:baseline;
}
sup {
	top:-0.5em;
}
sub {
	bottom:-0.25em;
}
p {
	font-size: 18px;
	line-height: 28px!important;
}

dl,menu,ol,ul {
	margin:1em 0;
}
dd {
	margin:0 0 0 40px;
}
menu,ol,ul {
	padding:0 0 0 40px;
}
nav ul,nav ol {
	list-style:none;

}

img {
	border:0;
	-ms-interpolation-mode:bicubic;
}
svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 0;
}

form {
	margin:0;
}
fieldset {
	border:1px solid #c0c0c0;
	margin:0 2px;
	padding:0.35em 0.625em 0.75em;
}
legend {
	border:0;
	padding:0;
	white-space:normal;
	*margin-left:-7px;
}
button,input,select,textarea {
	font-size:100%;
	/margin:0;
	vertical-align:baseline;
	*vertical-align:middle;
}
button,input {
	line-height:normal;
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	-webkit-appearance:button;
	cursor:pointer;
	*overflow:visible;
}
button[disabled],input[disabled] {
	cursor:default;
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0;
	*height:13px;
	*width:13px;
}
input[type="search"] {
	-webkit-appearance:textfield;
	-moz-box-sizing:content-box;
	-webkit-box-sizing:content-box;
	box-sizing:content-box;
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none;
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0;
}
textarea {
	overflow:auto;
	vertical-align: top;
}

table {
	border-collapse:collapse;
	border-spacing: 0;
}

.section-padding {
	padding:50px 0 70px
}
.dark-bg {
	background:#f3f5f8;
}
.light-bg {
	background-color:#fff;
}
.dark-box {
	background: #F3F5F8;
	-webkit-box-shadow: 0 3px 0 0  var(--main-color);
	-moz-box-shadow: 0 3px 0 0 var(--main-color);
	box-shadow: 0 3px 0 0 var(--main-color);
	padding:20px 0;
}
.dark-box:hover,.dark-box:focus {
	-webkit-box-shadow: 0 3px 0 0 var(--secondary-color);
	-moz-box-shadow: 0 3px 0 0 var(--secondary-color);
	box-shadow: 0 3px 0 0 var(--secondary-color);
}
.box-hover {
	transition:all 500ms ease-in-out;
	-webkit-transition:all 500ms ease-in-out;
	-moz-transition:all 500ms ease-in-out;
	-o-transition:all 500ms ease-in-out;
}
.box-hover:hover,.box-hover:focus {
	transform:translate(0,-15px);
	-webkit-transform:translate(0,-15px);
	-ms-transform:translate(0,-15px);
}
.wrapper {
	height:650px;
}
.nopadding {
	padding:0;
}
.inner {
	padding-top: 138px;
}

.menu-wrap a {
	color:#555d7c;
	outline:none!important;
}
.menu-wrap a:hover,.menu-wrap a:focus {
	color: var(--main-color) ;
}
.content-wrap {
	overflow-y:scroll;
	-webkit-overflow-scrolling:touch;
	-webkit-transition:-webkit-transform 0.4s;
	transition:transform 0.4s;
	-webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
	transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.content {
	position:relative;
	background:#b4bad2;
	padding-bottom: 12em;
}
.menu-button,.menu-wrap {
	position:fixed;
	width:2.5em;
	height:2.25em;
	font-size:1.5em;
	-webkit-transform:translate3d(1.5em,1.5em,0);
	transform: translate3d(1.5em,1.5em,0);
}
.menu-button {
	-webkit-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.06);
	-moz-box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.06);
	box-shadow: 0 0 8px 0 rgba(34, 60, 80, 0.12);
	z-index:1000;
	margin:0;
	padding:0;
	border:none;
	text-indent:2.5em;
	color:transparent;
	background:transparent;
}
.menu-button::before {
	position:absolute;
	top:0.5em;
	right:0.5em;
	bottom:0.5em;
	left:0.5em;
	background: linear-gradient(var(--main-color) 20%,rgba(0, 0, 0, 0) 20%,rgba(0, 0, 0, 0) 40%,var(--main-color) 40%,var(--main-color) 60%,rgba(0, 0, 0, 0) 60%,rgba(0, 0, 0, 0) 80%,var(--main-color)80%);
	content:'';
}
.menu-button:hover {
	opacity: 0.6;
}

.menu-wrap {
	z-index:999;
	background: rgba(255, 255, 255, 1);
	-webkit-transition:width 0.4s,height 0.4s,-webkit-transform 0.4s;
	transition:width 0.4s,height 0.4s,transform 0.4s;
	-webkit-transition-timing-function:cubic-bezier(0.7,0,0.3,1);
	transition-timing-function:cubic-bezier(0.7,0,0.3,1);
}
.menu {
	height:100%;
	overflow:hidden;
	font-size:0.75em;
}
.icon-list {
	float:right;
	padding:2.5em 2em 0 6em;
}
.icon-list a {
	opacity:0;
	display:inline-block;
	padding:0 0.2em;
	margin:0 15px;
	text-align:center;
	font-size:1.2em;
	color: #353535;
}
.icon-list a span {
	display:block;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:0.5em;
	font-weight:700;
	padding-top: 0.5em;
}

.show-menu .content-wrap {
	-webkit-transition-delay:0s;
	transition-delay:0s;
	-webkit-transform:translate3d(0,125px,0);
	transform:translate3d(0,125px,0);
}
.show-menu .menu-wrap {
	width:100%;
	height:125px;
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-webkit-transition-delay:0s;
	transition-delay:0s;
	border-bottom: 1px solid var(--main-color);
}
.show-menu .icon-list a {
	opacity:1;
	-webkit-transition:opacity 0.4s 0.4s;
	transition:opacity 0.4s 0.4s;
}
.show-menu .icon-list a:nth-child(2) {
	-webkit-transition-delay:0.42s;
	transition-delay:0.42s;
}
.show-menu .icon-list a:nth-child(3) {
	-webkit-transition-delay:0.44s;
	transition-delay:0.44s;
}
.show-menu .icon-list a:nth-child(4) {
	-webkit-transition-delay:0.46s;
	transition-delay:0.46s;
}
.show-menu .icon-list a:nth-child(5) {
	-webkit-transition-delay:0.48s;
	transition-delay:0.48s;
}
.show-menu .icon-list a:nth-child(6) {
	-webkit-transition-delay:0.5s;
	transition-delay: 0.5s;
}

.hero {
	background: url('../img/hero.jpg') right bottom no-repeat;
	background-size: cover;
	padding:85px 0 100px 0;
	height:100%;
	background-color: #FBFBFB;
	width: 100%;
}
.hero h1 {

	font-size: 90px;
	letter-spacing: -8px;
	margin: 0;
	font-weight: 600;
	line-height: 95px;
	text-transform: uppercase;
}
.hero h1 span {
	color:#a1a9b0;

}
.hero h3 {

	font-family: "Arsenica Trial";
	font-size: 20px;
	margin:0;
	padding:0;
	opacity:0.5;
	color: var(--main-color);
	letter-spacing: 18px;
	line-height: 50px;
	text-transform: uppercase;
}
.hero p {
	letter-spacing:1px;
	color:var(--main-color);
	font-size: 15px;
}

@keyframes arrowbounce {
	from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-moz-keyframes arrowbounce {
	/* Firefox */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-webkit-keyframes arrowbounce {
	/* Safari and Chrome */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
@-o-keyframes arrowbounce {
	/* Opera */ from {
		-webkit-transform:translateY(0);
		-moz-transform:translateY(0);
		transform:translateY(0);
	}
	to {
		-webkit-transform:translateY(-20px);
		-moz-transform:translateY(-20px);
		transform:translateY(-20px);
	}
}
.scrollto {
	padding: 50px 0px 0px 0px;
	display:block;
	color:#FFF;
	text-decoration:none;
	width:200px;
	margin:0 auto;
	border-bottom: none;
}
.scrollto--arrow {
	padding:10px;
}
.scrollto--arrow img {
	animation:arrowbounce 1s alternate infinite;
	-moz-animation:arrowbounce 1s alternate infinite;
	-webkit-animation:arrowbounce 1s alternate infinite;
-o-animation: arrowbounce 1s alternate infinite;

}

.intro p {
	margin:50px 0 0;
}
h1.arrow {
	font-size: 16px;
	text-transform:uppercase;
	color:#353535;
	letter-spacing: 4px;
	background:url('../img/h1-bg.png') no-repeat center bottom;
	padding-bottom:30px;
	font-weight: bold;
}
h1.arrow span {
    color: var(--main-color);
}
.about-image {
	height:400px;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.color-bg {
	background: var(--main-color);
}
.color-bg a {
    color: var(--secondary-color);
}
.color-bg h6, .color-bg p {
    color: white;
}
.color-bg h6::after{
	border-color: #fff;
}
.color-bg .weight-outline-btn {
    color: white;
    border-color: white;
}
.color-bg .weight-outline-btn:hover {
  background: #FFF;
  color: var(--main-color);
  border-color: rgba(0, 0, 0, 0);
}
.about-text {
	padding:15px 50px 15px 50px;
}
.about-text h1 {
	text-transform:uppercase;
	font-size:24px;
	color: #8C8C8C;
}
.color-bg h1.arrow span {
    color: var(--secondary-color);
}
.color-bg h1.arrow {
    color: #FFF;
}
.services {
	margin-top:80px;
	margin-bottom:40px;
}
.services .icon {
	position:relative;
	width:175px;
	height:175px;
	margin:0 auto;
	text-align:center;
	line-height:180px;
	font-size:56px;
	border-radius:50%;
	box-shadow:0 0 0 0 rgba(0,0,0,0.0);
	margin-bottom:40px;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	border: 1px solid var(--main-color);
	color: var(--main-color);
}

.services .item:hover .icon {
	background: var(--main-color)3;
	border: 1px solid var(--main-color);
}
.services .item [class*=fa] {
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
}
.services .item:hover [class*=fa] {
	-webkit-transform:scale(1.2);
	transform:scale(1.2);
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	color:#fff;
}
.features-wrapper {
	margin:70px 0 0;
}
i.respons {
	position:relative;
	width:35px;
	height:35px;
	margin:0 auto;
	line-height:35px;
	text-align:center;
	font-size:15px;
	color:#fff;
	border-radius:50%;
	-webkit-transition:all .3s ease-out;
	transition:all .3s ease-out;
	border:1px solid #CCCCCC;

}

.iphone {
	width:50%;
	background:#f3f5f8;
	float:left;
	height:100%;
	box-shadow:inset -15px -11px 40px -6px rgba(0,0,0,0.1);
	-moz-box-shadow:inset -15px -11px 40px -6px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset -15px -11px 40px -6px rgba(0,0,0,0.1);
	z-index:1;
}
.fluid-white {
	width:50%;
	background:#fff;
	float:right;
	height:100%;
	z-index:2;
}
.responsive-services {
	position: relative;
}

.swag {
	padding:45px 0 5px;
}
.swag h1 {
	text-transform:uppercase;
	letter-spacing:5px;
}
.swag h1 span {
	display:block;
	font-size:25px;
	margin-top:20px;
}
.down-arrow-btn {
	width:auto;
	height:40px;
	background:rgba(0,0,0,0.6);
	display:inline-block;
	margin:15px 5px 15px 5px;
	color:#fff;
	font-size:16px;
	line-height:40px;
	padding:0px 10px;
	text-align:center;
}
.down-arrow-btn:hover,.down-arrow-btn:focus {
	color:#fff;
	background:rgba(0,0,0,1);
}
.portfolio img {
	height:300px;
	width:100%;
}
img.grayscale {
	filter:url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
	 filter:gray;
	 -webkit-filter:grayscale(100%);
-webkit-transition:all .6s ease;
	 -webkit-backface-visibility:hidden;

}
img.grayscale:hover {
	filter:none;
	-webkit-filter:grayscale(0%);
}
.row-offset-0 {
	margin-left:0;
	margin-right:0;
}
.row-offset-0>* {
	padding-left:0;
	padding-right:0;
}
.effects {
	padding-left:15px;
}
.effects .img {
	position:relative;

	z-index:1;
	overflow:hidden;
}
.effects .img:nth-child(n) {
	margin-right:5px;
}
.effects .img:first-child {
	margin-left:-15px;
}
.effects .img:last-child {
	margin-right:0;
}
.effects .img img {
	display:block;
	margin:0;
	padding:0;
	height:auto;
}
.overlay {
	display:block;
	position:absolute;
	z-index:20;
	filter:none!important;
	-webkit-filter:grayscale(0%);
	overflow:hidden;
	transition:all 0.5s;
	-webkit-transition:all 0.5s;
	-moz-transition:all 0.5s;
	-o-transition:all 0.5s;
}
.overlay-effect .img i {
	font-size:30px;
}
.overlay-effect .overlay {
	bottom:0;
	left:0;
	right:0;
	width:100%;
	height:100%;
	opacity:0;
}
.overlay-effect .overlay a.expand {
	left:0;
	right:0;
	bottom:47%;
	margin:0 auto -30px auto;
}
.overlay-effect .img.hover .overlay {
	height:100%;
	opacity:1;
}
.img img {
	width:-webkit-calc(100%+ 40px) !important;
	width:calc(100%+ 40px) !important;
	-webkit-transition:opacity 0.35s,-webkit-transform 0.35s;
	transition:opacity 0.35s,transform 0.35s;
	-moz-transition:opacity 0.35s,-moz-transform 0.35s;
	-o-transition:opacity 0.35s,-o-transform 0.35s;
	-webkit-transform:translate3d(-40px,0,0);
	transform:translate3d(-40px,0,0);
	-ms-transform:translate3d(-40px,0,0);
}
.img:hover img {
	-webkit-transform:translate3d(0,0,0);
	transform:translate3d(0,0,0);
	-ms-transform:translate3d(-40px,0,0);
}
.hype {
	position:absolute;
	left:0;
	right:0;
	margin-left:auto;
	margin-right:auto;
	top: 50px;
}
.subscribe {
	padding-top:75px;
}
.subscribe h1 {
	color: #FFFFFF;
	margin-bottom:40px;
}
.subscribe h1 span {
	display:block;
	font-size:15px;
	text-transform:uppercase;
	font-weight:bold;
	margin-top:20px;
	letter-spacing:1px;
}
.subscribe input[type=text] {
	background-color:rgba(255,255,255,0.1);
	border: solid 1px var(--secondary-color);
	padding:20px;
	width:30%;
	color:#808080;
}

.subscribe input[type=text]:focus {
    outline: none;
}
.subscribe input[type=submit] {
	background: var(--secondary-color);
	border: solid 1px var(--secondary-color);
	padding:20px;
	color:var(--main-color);
	text-transform:uppercase;
	letter-spacing:1px;
	transition:all 0.5s ease;
	-moz-transition:all 0.5s ease;
	-webkit-transition:all 0.5s ease;
	-o-transition:all 0.5s ease;
}
.subscribe input[type=submit]:hover {
	background: var(--secondary-color);
	border: solid 1px var(--secondary-color);
	color: var(--main-color);
}

.spacer-cta {
	background-color: var(--main-color);
	padding:70px 0;
}
.outline-btn {
	display:inline-block;
	padding:25px 40px;
	color: var(--secondary-color);
	border: solid 1px var(--secondary-color);
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px;
}
.outline-btn:hover,.outline-btn:focus {
	color: var(--main-color);
	border: solid 1px var(--main-color);
	background: var(--secondary-color);
}
.weight-outline-btn {
	display:inline-block;
	padding:20px 30px;
	color:#8C8C8C;
	border:solid 1px #8C8C8C;
	text-transform:uppercase;
	font-weight:bold;
	letter-spacing:1px;
}
.weight-outline-btn:hover,.outline-btn:focus {
	color:#424242;
	border: solid 1px #424242;
}
.team img {
	margin-bottom:20px;
}
ul.social-buttons {
	list-style:none;
	margin:0;
	padding:0;
}
ul.social-buttons li {
	display:inline-block;
	margin-right:10px;
}
ul.social-buttons li:last-child {
	margin-right:0;
}
.social-btn {
	width:40px;
	height:40px;
	background: var(--main-color);
	display:inline-block;
	color:#fff;
	font-size:17px;
	line-height:40px;
	text-align:center;
}
.social-btn:hover,.social-btn:focus {
	background: var(--secondary-color);
	color: var(--main-color);
}
.social {
	margin-top: 25px
}

.up-btn:hover,up-btn:focus {
	color: black;
	background: var(--secondary-color);
}
.contact-details {
	margin:70px 0;
}
.contact-details h2 {
	font-size:20px;
}
.contact-details h2 span {
	display:block;
	color:#545454;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
	margin-top:15px;
}
.contact-wrap {
	position:relative;
}
#googlemaps {
	width:100%;
	height:300px;
	left:15px;
	bottom:25px;
}
.contact {
	margin-top:-20px!important;
}
.contact label {
	float:left;
}
.contact .form-control {
	margin-bottom:20px;
	border:1px solid #cbcbcb;
	height:45px;
}
.contact textarea.form-control {
	height: 310px;
}
.contact .form-control {
	border-radius:0!important;
	;
	-webkit-box-shadow:none;
	box-shadow:none;
}
.contact .form-control:focus {
	-webkit-box-shadow:none;
	box-shadow:none;
	border:1px solid #B0B0B0;
}

.btn-send{
	background:var(--main-color);
	color: white;
	transition: all 0.4s;
	border-radius: 0;
	float: right;
}

.btn-send:hover{
	background: var(--secondary-color);
	color: var(--main-color)
}

button,button:focus,button:hover,button:active {
	outline: none!important;
}
#servicesSlider {
	margin-top:70px;
}
ul.slides li {
	margin-bottom:20px;
}
.features-slider {
	position:relative;
	padding:11% 100px 10% 100px;
	height:400px;
	background-color:#3F6184;
}
.features-slider ul {
	margin:0;
	padding:0;
	list-style:none;
}
.features-slider ul li {
	width:100%;
}
.features-slider li h1 {
	margin-bottom:15px;
	color:#fff;
	font-weight:400;
	font-size:22px;
}
.features-slider li p {
	color:#fff;
	font-size:14px;
}
#clientSlider .flex-control-nav {
	text-align:left;
}
#clientSlider .flex-control-nav li:first-child {
	margin:0 4px 0 0;
}
#clientSlider small {
	font-size: 12px;
	font-weight: bold;
}
.flex-control-paging li a.flex-active {
    background: var(--main-color);
    border-color: var(--main-color);
}

.color-bg .flex-control-paging li a{
    background: white;
    border-color: white;
}

.color-bg .flex-control-paging li a.flex-active {
    background: var(--secondary-color);
    border-color: var(--secondary-color);
}
.wp1,.wp2,.wp3,.wp4,.wp5,.wp6 {
	visibility:hidden;
}
.bounceInLeft,.bounceInRight,.fadeInUp,.fadeInUpDelay,.fadeInDown,.fadeInUpD,.fadeInLeft,.fadeInRight {
	visibility:visible;
}
.delay-05s {
	animation-delay:0.5s;
	-webkit-animation-delay:0.5s;
}
.delay-1s {
	animation-delay:1s;
	-webkit-animation-delay:1s;
}
.wp3 {
	background:url('../img/iphone-bg.png') no-repeat center center;
	background-position:200px 10px;
	height: 100%;
}

@media screen and (max-width:414px) {
	.scrollto {
		padding: 95px 0 0 0;
	}

	.hero h1 {

		font-size: 70px;
		line-height: 80px;

}
	.hero{
		padding: 0;
	}
}

@media screen and (max-width:480px) {
	.wrapper {
		background:#f3f5f8;
		height:640px;
	}
	.iphone {
		display:none;
	}
	.fluid-white {
		display:none;
	}
	.wp2,.wp4,.wp5,.light-box {
		margin-bottom: 30px;
	}
}

@media screen and (max-width:1024px) {
	.wp3 {
		background-position:50px 0;
	}
	.swag {
		background-attachment:scroll;
	}
	.subscribe {
		background-attachment: scroll;
	}
}

@media screen and (max-width:1280px) {
	.wp3 {
		background-position: 50px 0;
	}
}

@media screen and (min-width:480px) and (max-width:991px) {

	.iphone {
		display:none;
	}
	.fluid-white {
		display:none;
	}
	.wrapper {
		background:#f3f5f8;
		height:540px;
	}
	.wp2,.wp4,.wp5,.light-box {
		margin-bottom:30px;
	}
}
@media screen and (max-width:50em) {
	.icon-list a {
		padding:0.5em 0em;
		margin:0 5px;
		font-size:1em;
	}
}

@media screen and (max-width:991px) {
	.hero {

    	padding: -10px;
	}

	.subscribe {
	    padding-bottom: 40px;
	}

}

.hero h1 span {
	color:#f0f0f0;
}



:root{

	--text-light: rgba(255,255,255,0.6);
	--text-lighter: rgba(255,255,255,0.9);
	--spacing-s: 8px;
	--spacing-m: 16px;
	--spacing-l: 24px;
	--spacing-xl: 20px;
	--spacing-xxl: 24px;
	--width-container: 1200px;
}

*{
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.hero-section{
	align-items: flex-start;

	display: flex;
	min-height: 100%;
	justify-content: center;
	padding: var(--spacing-xxl) var(--spacing-l);

}

.card-grid{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-column-gap: var(--spacing-l);
	grid-row-gap: var(--spacing-l);
	max-width: var(--width-container);
	width: 100%;
}

@media(min-width: 540px){
	.card-grid{
		grid-template-columns: repeat(2, 1fr);
	}
}

@media(min-width: 960px){
	.card-grid{
		grid-template-columns: repeat(4, 1fr);
	}
}

.card{

	list-style: none;
	position: relative;
}

.card:before{
	content: '';
	display: block;
	padding-bottom: 150%;
	width: 100%;
}

.card__background{

	background-size: cover;
	background-position: center;
        bottom: 0;
	filter: brightness(0.8) saturate(1.1) contrast(0.9) grayscale(11);
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	transform-origin: center;
	trsnsform: scale(1) translateZ(0);
	transition:
			filter 200ms linear,
			transform 200ms linear;
}

.card:hover .card__background{
	filter: brightness(0.9) saturate(1.1) contrast(0.9) grayscale(0);
	transform: scale(1.05) translateZ(0);
}

.card-grid:hover > .card:not(:hover) .card__background{
	filter: grayscale(1)brightness(0.8) saturate(1.1) contrast(1) blur(10px);
}

.card__content{
	left: 0;
	padding: var(--spacing-l);
	position: absolute;
	top: 0;
}

.card__category{
	color: whitesmoke;
	font-size: 1 rem;
	margin-bottom: var(--spacing-s);
	text-transform: uppercase;
}

.card__heading{
	color: var(--secondary-color);
	font-size: 1.9rem;

	line-height: 1.4;
	word-spacing: 100vw;
}
.oou{
	color: var(--main-color);
}
.oou:hover{
	color: var(--secondary-color);
}
.arrow1{
	color:var(--main-color) ;
	padding: 0;
}
.container-padding1{
	margin-top: -50px;
	margin-bottom: 40px;
}
.back_to_top {
	position: fixed;
	bottom: 80px;
	right: 40px;
	z-index: 9999;

	text-align: center;
	background: var(--secondary-color);
	color: var(--main-color);
	cursor: pointer;
	border-radius: 2px;
	display: none;
	font-size: 18px;
	line-height: 52px;
	width: 55px;
	height: 55px;
}

.back_to_top:hover {
	background: var(--secondary-color);
	color: lightseagreen;
	transform: scale(1.1);
	transition: all 2s ease-in-out;


}

.back_to_top-show {
	display: block;
}
.sun{
	color: grey;
}
.sun:hover{
	color: darkslategray;
}
@media screen and (max-width:767px) {
.scrollto--arrow img{
	height: 10px;
}
.qq{
	font-size:10px;
}

	.hero h1 {
		padding-right: 10px;
		text-align: right;
line-height: 20px;
		letter-spacing:-0.5px;
		font-size: 1.1rem;
		color: rgb(121, 138, 134);

	}


	.inner {
		padding-bottom: 23px;
		padding-top: 10px;
		text-align: center;
	}

	.hero h3 {
		font-size: small;
		letter-spacing: 1px;
		text-align: right;
	}


	.hero {


		padding-bottom: 0;
	}

	.subscribe input[type=text] {
		width: 50%;
		margin-bottom: 30px;
	}

	.btn-send {
		float: none;

		margin-bottom: 80px;
	}
	.effects .img {
		margin-bottom: 15px;
	}
	.show-menu .icon-list a {
		display: block;
		width: 100%;
		float: left;
		margin-bottom: 10px;

	}

	.show-menu .menu-wrap {
		font-size: 2.1rem;
		height: 100%;

	}

}
.text_hero{ color:#f0f0f0;
	font-family:"Arsenica Trial" ;
	padding-bottom: 23px;
}

@media (min-width: 768px) and (max-width: 1024px){
	.hero h1 {
		padding-right: 10px;
		text-align: left;
		line-height: 40px;
		letter-spacing: 0;
		font-size:2.5rem;
		color: rgb(121, 138, 134);

	}


	.inner {
		padding-bottom: 23px;
		padding-top: 10px;
		text-align: center;
	}

	.hero h3 {

		letter-spacing: 1px;
		text-align: left;
	}



}
@media (min-width: 1440px) and (max-width: 3100px) {
	.hero{
		padding: 1100px 0 100px 0;
	}
}
